In [1]:
import pickle
import pandas as pd

In [4]:
models = [
    "df_models_knn.pickle",
    "df_models_nb.pickle",
    "df_models_svc.pickle"
]

df_summary = pd.DataFrame()

for model in models:
    
    path = "./Models/" + model
    
    with open(path, 'rb') as data:
        df = pickle.load(data)

    df_summary = df_summary.append(df)

df_summary = df_summary.reset_index().drop('index', axis=1)

In [5]:
df_summary

  Model  Training Set Accuracy  Test Set Accuracy
0   KNN               0.998505           0.897015
1    NB               0.690085           0.649254
2   SVM               0.945192           0.816418

In [6]:
df_summary.sort_values('Test Set Accuracy', ascending=False)

  Model  Training Set Accuracy  Test Set Accuracy
0   KNN               0.998505           0.897015
2   SVM               0.945192           0.816418
1    NB               0.690085           0.649254